%body
  .all
    %header.head
      %h1.head--gazo
        = link_to "/", class:"" do
          = image_tag 'logo.png', :size =>'185x49'
      .head__mozi
        %ol.head__mozi--san
          %li
            会員情報
          %li
            電話番号認証
          %li
            完了
    .ubody
      %h2 登録が完了しました
      .ubody__body
        .ubody__body--kanryou
          %p.nihongo
            ありがとうございます。
            %br/
            会員登録が完了しました。
          = link_to "メルカリを始める", root_path, class: "button-p"