.main-contents
  .single-inner
    .single-inner__conform_user
      %h2.single-inner__conform_user--head
        本人情報の登録
      
      .single-inner__conform_user--form
        %form
          %p.text
            お客さまの本人情報をご登録ください。
            %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.link
            %a(href="#")
              本人確認書類のアップロードについて