.main-contents
  = render "shared/side-list"
  .single-inner
    %h2.single-inner__head
      支払い方法
    .single-inner__cards
      %h3.single-inner__cards--uper
        クレジットカード一覧
      %ul.single-inner__cards--lists
        %li.card
          %form.card__form
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?73731125', alt: 'master-card', height: '20', width: '34', class: 'card__form--img'
            .card__form--card-num
              ************0000
            .card__form--expiration
              01/24
            %button.card__form--delete-btn
              削除する
      .single-inner__cards--foot
        = link_to "#" do
          支払い方法について
          = icon('fas', 'angle-right')