.main-contents
  .single-inner
  = render "shared/side-list"
  .single-inner
    %h3.mypage-title プロフィール
    .mypage-header
      .mypage-header__image
        .mypage-header__image-contents
          = image_tag "apple.png"
          %input

