.main-contents
  = render "shared/side-list"
  .single-inner
    .contents-header
      .contents-header__image
      .tabs
        %input#all{:checked => "checked", :name => "tab_item", :type => "radio"}/
        %label.tab_item{:for => "all"} お知らせ
        %input#programming{:name => "tab_item", :type => "radio"}/
        %label.tab_item{:for => "programming"} やることリスト
        #all_content.tab_content
          .tab_content_description
            %ul.tabs-contents
              %li.tabs-contents__link
                = link_to "" do
                  =image_tag "user-bg.jpg"
                  マイページ
                  %i.fa.fa-chevron-right
        #programming_content.tab_content
          .tab_content_description
            %p.c-txtsp プログラミングの内容がここに入ります