= render "shared/slider"
.favorite-category
  %h2 人気のカテゴリー
  .favorite-category__list
    %ul
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.main
  .items
    .items__category-name
    .items-main__text
    %h2 レディース新着アイテム
    .item-main__contenss

    - @lady_item.each do |lady_item|
      .lady_item
      = image_tag item.lady_item    