= render "shared/slider"
.favorite-category
  %h2 人気のカテゴリー
  .favorite-category__list
    %ul
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.main
  .prodacuts
    .prodacuts__category
    %h2 レディース新着アイテム
    - @image.each do |image|
      .ladies 
      = image_tag image.to_s
    %h2 メンズ新着アイテム
    - @image.each do |image|
      .mens 
      = image_tag image.to_s