= render "shared/slider"
.favorite-category
  %h2 人気のカテゴリー
  .favorite-category__list
    %ul
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
.main
  .items
    .items__category-name
    .items-main__text
    .item-main__contenss
    -# %h2 レディース新着アイテム
    -# - @lady_item.each do |lady_item|
    -#   .lady_item
    -#   = image_tag @lady_item.to_s

    %h2 メンズ新着アイテム
    - @man_item.each do |man_item|
      =
      = man_item.name
      = image_tag

  -#     .main
  -# .prodacuts
  -#   .prodacuts__category
  -#     %h2 新着アイテム
  -#     = link_to "" do
  -#       もっと見る
  -#       %i.fa.fa-chevron-right
  -#   .prodacuts__cards
  -#     %ul.prodacuts__cards-block
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt
  -#       %li.prodacuts__cards-item
  -#         = link_to "", class: "prodacuts__cards-link" do
  -#           .prodacuts__cards-content
  -#             = image_tag "image.jpg"
  -#             %p testitemttttttttttttttttttttt