.new_header
.new_header__top
 .new_header__logo
 = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",size:"189x128"
.new_container
 %main.new_main
  %section.new_main__container
   #new-container
    %div 
     .new-main__inner
      %h2.new-main__head
      .new-main__upload-box
       %h3.new-main__upload_head 
        出品画像
        %span.new-main__form-require 必須
        %p 最大10枚までアップロードできます。
        .new-main__dropbox-container.clearfix.state-image-number-10
        .new-main__upload-item-container
         .new-main__content
          .new-main__from-group
          商品名
          %span.new-main__form-require 必須
          .new-main__from-group
          商品の説明
          %span.new-main__form-require 必須
        .new-main__content.clerfix
         %h3.new-main__sub_head 商品の詳細
         .new-main__form__box{}
         .new-main__from-group
          カテゴリー
         %span.new-main__form-require 必須
         .new-main__from-group
          ブランド
         %span.new-main__form-arbitrary 任意
         .new-main__from-group
          商品の状態
         %span.new-main__form-require 必須
