!!! 
%html
 %head
  %meta{content: "text/html; charset-UTF-8","http-equiv": "Concat-Type"}/
 %header
  .new_head
   .new_head_top
    .new_head_top_logo
     %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
 %body