.new_container
 %main.new_main
  %section.new_main__container
   #new-container
    %div 
     .new-main__inner
      %h2.new-main__inner 商品の情報を入力
      = form_with model:@prodact,url:new_path(@product),class:'new-main__form' do |f|
       .new-main__upload-box
       %h3.new-main__upload_head 
       出品画像
       %span.new-main__from_require 必須
