.main-contents
  .show-item-wrapper
    %h1 テストタイトル
    .show-contents
      .images
        = image_tag "ifon.png"
      %table.show-table
        %tr
          %th 
            出品者
          %td
            テスト
        %tr
          %th 
            カテゴリー
          %td
            テスト
        %tr
          %th 
            ブランド
          %td
            テスト
        %tr
          %th 
            商品の状態
          %td
            テスト
        %tr
          %th 
            配送料の負担
          %td
            テスト
        %tr
          %th 
            配送の方法
          %td
            テスト
        %tr
          %th 
            発送元地域
          %td
            テスト
        %tr
          %th 
            発送日の目安
          %td
            テスト
    .show-item-price
      %h1
        ¥7,000
      %span.show-item-price__tax
        (税込)
      %span.show-item-price__sent
        送料込み
    .show-item-barance
      残高¥99,999をお持ちです
      .show-item-barance__try
    .go-purchase
      = link_to "" do
        購入画面に進む