.favorite-category{
  height: 171px;
  background-color: white;
  padding: 56px 0 30px;
  text-align: center;
  > h2{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 16px;
  }
  &__list{
    > ul{
      > li{
        display: inline-block;
        padding: 8px 16px;
        background-color: whitesmoke;
        border-radius: 15px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}




.main{
  background-color: whitesmoke;
  padding: 42px 150px 100px;
}

.icon{
  width: 160px;
  height: 160px;
  background-color: red;
  padding: 30px 40px;
  border-radius: 100px;
  z-index: 10px;
  position: fixed;
  top: 450px;
  left: 1100px;
  &__text{
    color: white;
    font-size: 22px;
    padding-left: 18px;
  }
  &__new{
  }
}

.prodacuts{
  &__category{
    margin-bottom: 16px;
    overflow: hidden;
    > h2{
      font-weight: bold;
      font-size: 26px;
      display: inline-block;
    }
    > a{
      color: rgb(0, 149, 238);
      float: right;
      font-size: 14px;
      > i{
        margin-left: 4px;
      }
    }
  }
  &__cards{
    display:table-cell;
    padding: 5px;
    &-item{
      height: 50%;
      width: 100%;
      padding-bottom: 5px;
      position: relative;
      background-color: white;
    }
    &-link{
      text-decoration: none;
    }
    &-content{
      height: 100%;
      width: 180px;
      box-shadow: 1px 1px 3px gray;
      > img{
        height: 188px;
        width: 100%;
        vertical-align: bottom;
      }
      > p{
        padding: 10px;
        float: left;
        word-wrap: break-word;
        color: black;
      }
    }
    &-name{
      width: 180px;
    }
    &-price{
      width: 180px;
    }
  }
}