.contents-header{
  width: 100%;
  &__image{
    background-image: url("user-bg.jpg");
    height: 200px;
  }
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 74px;
  background-color: #d9d9d9;
  text-align: center;
  line-height: 74px;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: white;
  border-top: 2px solid red;
}

// お知らせの中身
.tabs-contents{
  &__link{
    > a{
    border: 0;
    padding: 16px;
    border-bottom: 1px solid rgb(245, 245, 245);
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: white;
    width: 100%;
    display: inline-block;
    position: relative;
    height: 80px;
    > img{
      height: 48px;
      width: 48px;
      float: left;
      margin-right: 20px;
      }
      > i{
        position: absolute;
        right: 16px;
        top: 30px;
        font-size: large;
      }
      > p{
        color: #888;
        font-size: 12px;
        > i{
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }
    > a:hover{
      background-color: #eeeeee;
    }
  }
}