.show-item-wrapper{
  width: 700px;
  background-color: white;
  margin: 0 auto ;
  padding: 24px 40px 40px;
  height: 700px;
  > h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

.images{
  float: left;
  > img{
    width: 300px;
    height: 300px;
  }
}

.show-table{
  margin-left: auto;
  width: 300px;
  font-size: 14px;
  tr{
    th{
      background-color: #FAFAFA;
      padding: 8px;
      border: 1px solid #f5f5f5;
    }
    td{
      border: 1px solid #f5f5f5;

    }
  }
}

.show-item-price{
  width: 100%;
  margin-top: 24px;
  text-align: center;
  > h1{
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    margin-right: 16px;
  }
  &__tax{
    font-size: 10px;
  }
  &__sent{
    font-size: 16px;
  }

}