.show-item-wrapper{
  width: 700px;
  background-color: white;
  margin: 0 auto ;
  padding: 24px 40px 40px;
  height: 700px;
  > h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

.show-contents{
  margin-top: 16px;
}

.images{
  float: left;
  > img{
    width: 300px;
    height: 300px;
  }
}

.show-table{
  margin-left: auto;
  width: 300px;
  font-size: 14px;
  tr{
    th{
      background-color: #FAFAFA;
      padding: 8px;
      border: 1px solid #f5f5f5;
    }
    td{
      border: 1px solid #f5f5f5;

    }
  }
}

.show-item-price{
  width: 100%;
  margin-top: 24px;
  text-align: center;
  > h1{
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    margin-right: 16px;
  }
  &__tax{
    font-size: 10px;
  }
  &__sent{
    font-size: 16px;
  }

}

.show-item-barance{
  width: 200px;
  color: #FFFFFF;
  background: #05B0B4;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  margin: 20px auto 0;
  position: relative;
}
.show-item-barance:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #05B0B4 transparent transparent transparent;
}

.go-purchase{
  display: table;
  margin-top: 16px;
  width: 100%;
  font-weight: 600;
  > a{
    line-height: 60px;
    text-decoration: none;
    color: white;
    background-color: #ea352d;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    padding-top: auto;
    display: table-cell;
    vertical-align: middle;
    transition: all .3s;
  }
  > a:hover{
    background-color: red;
    transition: all .3s;
  }
  > a:click{

  }
}