.slider{
  height: 400px;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100%;
  &__wrapper{
    height: 100%;
    &-first{
    }
    &-second{
    }
  }
}

.slider__wrapper-first{
  position: relative;
  .slider__wrapper-first-p {
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    height: 110%;
    padding: 50px 50px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 200px;
    margin-bottom: 16px;
    font-family: sans-serif;
   
  }
  .slider__wrapper-first-p2{
     position: absolute;
     top: 170px;
     right: 690px;
     height: 100%;
     padding: 30px 30px;
     font-size: 15px;
     font-weight: 600;
     margin-left: 5px;
     margin-bottom: 16px;
     line-height: 1.77777;
     font-family: serif;
  }
  .slider__wrapper-first-content{
    position: absolute;
    top: 0;
    right: 250px;
    width: 31%;
    height: 31%;
  }
  .slider__wrapper-first-content_bannar{
    position: absolute;
    top: 220px;
    right: 560px;
    height: 10px;
    width: 170px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }

  .slider__wrapper-first-content_bannar2{
    position: absolute;
    top: 220px;
    right: 380px;
    width: 170px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }
  }

.slider__wrapper-first img,.slider__wrapper-second img{
  width: 100%;
}
