.single-inner{
  &__conform_user{
    &--head{
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 24px;
      padding: 8px 24px;
      font-weight: bold;
    }
    &{
      form{
        padding: 64px;
        .text{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 14px;
        }
        .link{
          margin: 8px 0 0;
          line-height: 1.5;
          text-align: right;
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
}