.single-inner{
  &__head{
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  &__cards{
    padding: 64px;
    &--uper{
      margin: 0 auto;
      max-width: 320px;
      font-weight: 600;
    }
    &--lists{
      list-style: none;
      }
    &--foot{
      a{
        display: block;
        margin: 40px 0 0;
        text-align: right;
        color: #0099e8;
        text-decoration: none;
      }
    }
    }
  }

.card{
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  &__form{
    position: relative;
    margin: 0 auto;
    max-width: 320px;
    &--card-num{
      margin: 8px 0 0;
      font-size: 16px;
    }
    &--expiration{
      margin: 8px 0 0;
      font-size: 16px;
    }
    &--delete-btn{
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 6px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ea352d;
      color: #ea352d;
    }
  }
}

.add-card-btn{
  max-width: 320px;
  margin: auto;
}