.new_header{
  height: 127px;
  width: 997px;
  background-color: rgb(51, 51, 51);
  &_logo{
  text-align: center;
  }
}

.new_container{
  padding-bottom: 250px;
}


.new-main{
  &__container{
    background-color: #fff;
  }
}