body{
  background-color: rgb(245, 245, 245);
}

.new_header{
  height: 128px;
  &__top{
    text-align: center;
  }
}

.new_container{
  background-color:rgb(255, 255, 255) ;
  max-width: 700px;
  margin: 0px auto;
  box-sizing: border-box;
}

.new-main{
  &__container{
  width: 700px;
  margin:0px 282px;
  }
  &__form-require {
   background-color:red;
   color: #fff;
   font-size: 12px;
   padding: 2px 4px;
   border-radius: 2px;
  }
  &__form-arbitrary{
    background-color: #bfbfbf;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  &__container{
    background-color: #fff;
    &__upload_head{

    }
  }
}