body{
  background-color: rgb(245, 245, 245);
}

.new_header{
  &__top{
    text-align: center;
  }
}

.new_container{
  background-color:rgb(255, 255, 255) ;
  max-width: 700px;
  margin: 0px auto;
  padding: 30px 40px;
  box-sizing: border-box;
}

.entry{
  display:flex;
}

.new-main{
  // margin: 20px 40px;
  // padding: 20px 40px;
  &__upload-box{
    // padding: 40px;
    display: flex;
    box-sizing: border-box;
  }
  &__upload_head  {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__upload_sub-head{
    margin-top: 16px;
    font-size: 14px;
    color:rgb(51, 51, 51);
  }
  &__container{
  width: 700px;
  margin:0px 282px;
  }
  &__form-require {
  //  float: left;
   width: 33px;
   background-color:red;
   color: #fff;
   font-size: 12px;
   font-weight: 600;
   font-family:sans-serif;
   padding: 2px 4px;
   border-radius: 2px;
   margin-left: 8px;
  }
  &__form-arbitrary{
    // float: left;
    width: 33px;
    background-color: #bfbfbf;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family:sans-serif;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 8px;
  }
  &__from-group {
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.4em;
    margin-top: 30px;
    padding: 20px 0px;
    &__fee-value{
      margin-top: 50px;
      padding: 10px 0px;
      align-items: center;
      box-sizing: content-box;
      height: 20px;
      white-space: nowrap;
      // display: flex;
      font-size: 14px;
    }
    &__fee-label{
      font-size: 14px;
      margin-left: 76%; 
    }
    &__total-value{
      margin-top: 50px;
      padding: 10px 0px;
      align-items: center;
      box-sizing: content-box;
      height: 20px;
      white-space: nowrap;
      display: flex;
      font-size: 14px;
    }
    &__total-label{
      font-size: 14px;
      margin-left: 85%; 
    }
  }
  &__container{
    background-color: #fff;
  }

  &__button-exhibition{
    background-color: #ea352d;
    color: #fff;
    margin: 24px auto;
    font-family:sans-serif;
    width: 400px;
    font-size: 17px;
    min-height: 48px;
    padding: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }

  &__button-return{
    background-color: #ccc;
    border-color: transparent;
    color: #222;
    margin: 24px auto;
    font-family:sans-serif;
    width: 400px;
    font-size: 17px;
    min-height: 48px;
    padding: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }
  &__sub_head{
    margin-top: 50px;
    padding: 40px 0px 0px opx;
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 24px;
  }
  &__send_head{
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    margin-top: 80px;
    margin-bottom: 24px;
    height: 20px;
  }
}

.new-main__input{
  // width: 100%;
  // height: 50px;
  font-family:sans-serif;
  &__product--name{
    position: relative;
    margin-top: 16px;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 50px;
  }
  &__upload-image{
    height: 150px;
    margin-top: 8px;
    padding: 0px 4px;
    border-radius: 2px;
  }
  &__product--description{
    width: 100%;
    height: 160px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    padding: 13px 16px;
    overflow: hidden;
  }
  &__product--word-count{
    text-align: right;
    color: #888;
    font-size: 10px;
    line-height: 1.4em;
    font-family:sans-serif;
    margin: 10px 0px;
    width: 100%;
    box-sizing: border-box;
  }
  &__product--promt {
    color: #ff0211;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 30px;
  }
}

.new-main__select{
  &__product--categories{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #222;
  font-size: 16px;
  }
}

.new-main__selling-price{
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 550;
    line-height: 1.4em;
    margin-right: auto;
    white-space: nowrap;
    align-items: center;
    display: flex;
    box-sizing: border-box;

    &__form-require{
      width: 33px;
      max-height: 24px;
      background-color:red;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      font-family:sans-serif;
      padding: 2px 4px;
      border-radius: 2px;
      margin-top: -10px;
      margin-left: 10px;
      box-sizing: border-box;
    }
    &__unit{
      float: right;
      margin-top: 15px;
    }
    &__number{
      text-align: right;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: inherit;
      font-size: inherit;
      height: 48px;
      margin: 0;
      outline: none;
      padding: 0 16px;
      width: inherit;
      float: right;
    }
}

.new-main__notes{
   background-color:rgb(255, 255, 255) ;
   max-width: 700px;
   margin: 0px auto;
   padding: 30px 40px;
   font-size: 12px;
   line-height: 1.4em;
   font-family: sans-serif;
   display: flex;
     &__nomal p{
     }
     &__text-line a{ 
      color: #0095ee;
      text-decoration: none;
     }
   
}

.new-footer{
  height: 50px;
  background-color: rgb(245, 245, 245);
  display: flex;
  text-align: center;
  padding: 0px 50px;
  margin:0px 80px;
   &__top__terms{
     margin-left: 10px;
    }

   &__bottom{
      width: 100%;
      margin: 0px auto;
      text-align: center;
      float: left;
      background-color: rgb(245, 245, 245);
      font-size: 12px;
    }
  }