body{
  background-color: rgb(245, 245, 245);
}

.new_header{
  &__top{
    text-align: center;
  }
}

.new_container{
  background-color:rgb(255, 255, 255) ;
  max-width: 700px;
  margin: 0px auto;
  box-sizing: border-box;
}

.new-main{
  &__container{
  width: 700px;
  margin:0px 282px;
  }
  &__form-require {
   background-color:red;
   color: #fff;
   font-size: 12px;
   font-weight: 600;
   font-family:sans-serif;
   padding: 2px 4px;
   border-radius: 2px;
   margin-left: 8px;
  }
  &__form-arbitrary{
    background-color: #bfbfbf;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family:sans-serif;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 8px;
  }
  &__from-group {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__upload_head  {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__upload_sub-head{
    margin-top: 16px;
    font-size: 12px;
    color:rgb(51, 51, 51);
  }
  &__container{
    background-color: #fff;
    &__upload_head{
    }
  }

  &__button-exhibition{
    background-color: #ea352d;
    color: #fff;
    margin: 24px auto;
    font-family:sans-serif;
    width: 400px;
    font-size: 17px;
    min-height: 48px;
    padding: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }

  &__button-return{
    background-color: #ccc;
    border-color: transparent;
    color: #222;
    margin: 24px auto;
    font-family:sans-serif;
    width: 400px;
    font-size: 17px;
    min-height: 48px;
    padding: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }
}

.new-footer{
  background-color: rgb(245, 245, 245);
  text-align: center;
  &__container li{
    font-size:12px;
    float: left;
    box-sizing: border-box;
    margin-left: 10px;
    text-align: center;
    
  }

}